/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
a {
  text-decoration: none;
  color: black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
header, main{
  padding: 0 10%; /*?????*/
}
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}
h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
li:hover,
a:hover {
  color: #b1663c;
}
li img {
  width: 50%;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img, #introduction a {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
.portfolio__title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 1em;
}
/*AJOUTS DU STYLE DES FILTRES*/
.categories {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  gap: 1em;
}
.categories span {
  font-family: "Syne";
  font-size: 1.2em;
  padding: 0.5em 1em;
  color: #1d6154;
  border: 1px solid #1d6154;
  border-radius: 60px;
  cursor: pointer;
}
.categories .activeFilter {
  color: white;
  background: #1d6154;
}
/*/////*/
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}

#contact,
#login {
  width: 50%;
  margin: auto;
}
#contact > *,
#login > * {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#contact form,
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input,
#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
.hidden
{
  display:none !important;
}
/*LOGIN PAGE*/
#login p {
  text-decoration: underline;
  color: #3d3d3d;
}
.errorMessage{
  display: block;
  text-align: center;
  margin-bottom: 2em;
  font-style: italic;
  color: rgb(144, 0, 0);
}
/*EDIT HEADER*/
.edit {
  padding: 1em 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.edit__save {
  background-color: white;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: black;
  margin-left: 1em;
}
.edit__button{
  padding: 1em 0;
  cursor: pointer;
}
.edit i, .edit__button i{
  padding-right: 0.25em;
}
/*MODALES*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
.wrapper {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em;
  gap: 2em;
  background-color: white;
}
.head {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.modal h3 {
  margin-top: 0.5em;
  text-align: center;
  font-size: 2em;
}
.content {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 0.5em;
}
.modal hr {
  color: #b3b3b349;
  width: calc(100% - 4em);
}
.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .btn {
  text-align: center;
  width: 50%;
  background-color: #1d6154;
  color: white;
  border-radius: 2em;
  padding: 1em 2em;
  cursor: pointer;
  font-family: "Syne"
}
/*Modal 1 : Galerie Photo*/
.modalA .icons {
  justify-content: flex-end;
}
.modalA .content figure {
  width: 18%;
  position: relative;
}
.modalA .content img {
  width: 100%;
}
.modalA .content i {
  position: absolute;
  right: 0.25em;
  top: 0.5em;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 0.15em;
  border-radius: 0.25em;
}
.modalA .content .fa-arrows-up-down-left-right{
  display: none;
  right: 1.5em;
  top: 0.5em;
}
.modalA figure:hover > .fa-arrows-up-down-left-right{
  display: unset;
}
.modalA .delete {
  color: #d65353;
  font-size: smaller;
  margin-top: 1em;
}
/*Modale 2 : Ajout de Photo*/
.modalB .content{
  display:flex;
  flex-direction: column;
  padding: 2em;
  gap: 2em;
}
.modalB .imgAdd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E8F1F6;
  width: 100%;
  padding: 1em 0;
  gap:1em;
}
.imgAdd i{
  color: #CBD6DC;
}
.imgAdd label{
  background-color: #CBD6DC;
  color:#306685;
  width: 30%;
  text-align: center;
  border-radius: 2em;
  padding: 1em 2em;
  cursor: pointer;
}
.modalB .imgInput{
  display:none;
}
.modalB .imgReq{
  font-size: smaller;
  color: rgba(0, 0, 0, 0.707);
}
.modalB .imgDesc{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.imgDesc input, .imgDesc select{
  height: 3em;
  background-color: white;
  border-style: none;
  box-shadow: 0 0.25em 0.5em rgba(137, 137, 137, 0.25);
}
.modalB output{
  display:flex;
  justify-content: center;
  background-color:#E8F1F6;
  height: max-content;
  width:100%;

}
.modalB output img{
  height: 15em;
}
.modalB .disabled {
  background-color: grey;
  color: white;
  margin: auto;
}
